<div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <div *ngIf="foyer; else nofoyer">
          <div class="card" style="width: 18rem;">
            <img src="https://www.webdo.tn/uploads/2016/11/foyer.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nom foyer : {{ foyer.nomFoyer }}</h5>
              <p class="card-text">Capacité: {{ foyer.capaciteFoyer }} </p>
              <button class="btn btn-blue" [routerLink]="'/etudiant/list-bloc-f/' + foyer.idFoyer">Afficher la liste des blocs</button>
            </div>
          </div>
        </div>
          <ng-template #nofoyer>
            <div class="alert alert-info container">Aucun foyer n'est disponible pour cette université.</div>
          </ng-template>
        </div>
      </div>
    </div>

  </div>
