<main>
    <section class="p-0 d-flex align-items-center position-relative overflow-hidden">

      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-lg-6 m-auto">
            <div class="row my-5">
              <div class="col-sm-10 col-xl-8 m-auto">
        <div [class.circle-icon]="isClicked" class="position-absolute top-0 end-0 p-2" (click)="goBack()">
            <style>
              .circle-icon {
                border-radius: 50%;
                width: 40px; /* Ajustez la taille du cercle selon vos besoins */
                height: 40px;
                background-color: #fff; /* Couleur de fond du cercle */
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Ombre légère pour un effet de levée */
              }
            </style>
            <div class="circle-icon">
              <i class="bi bi-arrow-left"></i>
            </div>
          </div>

<form [formGroup]="updateForm" (ngSubmit)="update()" *ngIf="updateForm">
    <div class="mb-4">
        <label for="exampleInputNom" class="form-label">Nom Foyer</label>
        <div class="input-group input-group-lg">
          <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i class="fas fa-home"></i></span>
          <input type="text" class="form-control border-0 bg-light rounded-end ps-1" placeholder="Nom Foyer" id="exampleInputNom" formControlName="nomFoyer">

        </div>
      </div>
      <div class="mb-4">
        <label for="exampleInputCin" class="form-label">Capacité foyer</label>
        <div class="input-group input-group-lg">
          <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i class="fas fa-university"></i></span>
          <input type="number" class="form-control border-0 bg-light rounded-end ps-1" placeholder="Capacité" id="exampleInputCin" formControlName="capaciteFoyer">
        </div>
      </div>


            <br>

     <div class="align-items-center mt-0">
        <div class="d-grid">
          <button class="btn btn-primary mb-0" type="text" [disabled]="!updateForm.valid">Modifier</button>
        </div>

      </div>

</form>

</div>
</div>
</div>
</div>
</div>
</section>
</main>
