<div class="container" *ngIf="listChambre.length > 0">
  <h2>Liste des Chambres</h2>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">
        <div class="card" style="width: 18rem;" *ngFor="let chambre of listChambre">

          
            <img class="card-img-top" src="http://localhost:9090/auth/{{chambre.image}}" alt="">
            <strong>Numéro de Chambre:</strong> {{ chambre.numeroChambre }}<br>
            <strong>Type de Chambre:</strong> {{ chambre.typeC }}<br>
            <button class="btn btn-blue">Réserver</button>
          
        </div>
      </div>
    </div>
  </div>
</div>